FlightServiceClientSolution/FlightServiceClientConsole/Service References/ClientRef/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlightIISServices.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlightIISServices.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Filter">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Filter" nillable="true" type="tns:Filter" />
  <xs:complexType name="PriceFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Filter">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndRange" type="xs:int" />
          <xs:element minOccurs="0" name="StartRange" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PriceFilter" nillable="true" type="tns:PriceFilter" />
  <xs:complexType name="AirlineFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Filter">
        <xs:sequence>
          <xs:element minOccurs="0" name="AirlineName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AirlineFilter" nillable="true" type="tns:AirlineFilter" />
  <xs:complexType name="RatingFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Filter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Rating" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RatingFilter" nillable="true" type="tns:RatingFilter" />
</xs:schema>